<?php
/**
 * Author: hitman
 * Date: 22/3/2018
 * Time: 10:31 AM
 */

namespace App\Http\Middleware;


use Closure;
use Illuminate\Support\Facades\Auth;

class AdminGuest
{
    public function handle($request, Closure $next)
    {
        if(Auth::guard('admin')->check()){
            return redirect('/admin/');
        }

        return $next($request);
    }
}